#register-pane.tab-pane.login-box{ role: 'tabpanel' }
  .login-body
    = form_for(resource, as: "new_#{resource_name}", url: registration_path(resource_name), html: { class: "new_new_user gl-show-field-errors", "aria-live" => "assertive" }) do |f|
      .devise-errors
        = devise_error_messages!
      .form-group
        = f.label :name, '姓名'
        = f.text_field :name, class: "form-control top", required: true, title: "必填项。"
      .username.form-group
        = f.label :username, "用户名"
        = f.text_field :username, class: "form-control middle", pattern: Gitlab::PathRegex::NAMESPACE_FORMAT_REGEX_JS, required: true, title: '用户名只可以包含字母和数字。'
        %p.validation-error.hide 用户名已经被使用。
        %p.validation-success.hide 用户名有效。
        %p.validation-pending.hide 正在检查用户名有效性...
      .form-group
        = f.label :email, "邮箱"
        = f.email_field :email, class: "form-control middle", required: true, title: "请提供一个有效的邮箱地址。"
      .form-group
        = f.label :email_confirmation, "确认邮箱"
        = f.email_field :email_confirmation, class: "form-control middle", required: true, title: "请再次输入邮箱地址。"
      .form-group.append-bottom-20#password-strength
        = f.label :password, "密码"
        = f.password_field :password, class: "form-control bottom", required: true, pattern: ".{#{@minimum_password_length},}", title: "最小长度为 #{@minimum_password_length} 字符。"
        %p.gl-field-hint 最小长度为 #{@minimum_password_length} 字符。
      - if Gitlab::CurrentSettings.current_application_settings.enforce_terms?
        .form-group
          = check_box_tag :terms_opt_in, '1', false, required: true
          = label_tag :terms_opt_in do
            - terms_link = link_to s_("I accept the|Terms of Service and Privacy Policy"), terms_path, target: "_blank"
            - accept_terms_label = _("I accept the %{terms_link}") % { terms_link: terms_link }
            = accept_terms_label.html_safe
      %div
      - if Gitlab::Recaptcha.enabled?
        = recaptcha_tags
      .submit-container
        = f.submit "注册", class: "btn-register btn"
.clearfix.submit-container
  %p
    %span.light 尚未收到确认邮件？
    = succeed '。' do
      = link_to "重新发送确认邮件", new_confirmation_path(:user)
