- breadcrumb_title "访问令牌"
- page_title "个人访问令牌"
- @content_class = "limit-container-width" unless fluid_layout

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      您可以为需要访问GitLab API的每个应用程序生成个人访问令牌。
    %p
      您还可以使用个人访问令牌通过HTTP进行Git验证。
      当您启用两步认证（2FA）时，它们是唯一可接受的密码。

  .col-lg-8
    - if @new_personal_access_token
      .created-personal-access-token-container
        %h5.prepend-top-0
          你的新个人访问令牌
        .form-group
          .input-group
            = text_field_tag 'created-personal-access-token', @new_personal_access_token, readonly: true, class: "form-control js-select-on-focus", 'aria-describedby' => "created-personal-access-token-help-block"
            %span.input-group-append
              = clipboard_button(text: @new_personal_access_token, title: "复制个人访问令牌到剪贴板", placement: "left", class: "input-group-text btn-default btn-clipboard")
          %span#created-personal-access-token-help-block.form-text.text-muted.text-danger 请确保您已经保存好令牌(该令牌将不再显示)。

      %hr

    = render "shared/personal_access_tokens_form", path: profile_personal_access_tokens_path, impersonation: false, token: @personal_access_token, scopes: @scopes

    = render "shared/personal_access_tokens_table", impersonation: false, active_tokens: @active_personal_access_tokens, inactive_tokens: @inactive_personal_access_tokens

%hr
.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      Feed 令牌
    %p
      当你的 RSS 阅读器加载个人 RSS 种子的时候将使用你的 RSS 令牌来进行认证，并且会包含在你的个人 RSS 种子的 URL 里。
    %p
      该令牌无法用于访问其它数据。
  .col-lg-8.feed-token-reset
    = label_tag :feed_token, 'Feed token', class: "label-light"
    = text_field_tag :feed_token, current_user.feed_token, class: 'form-control', readonly: true, onclick: 'this.select()'
    %p.form-text.text-muted
      请确保该令牌的安全。任何持有该令牌的人，都可以以你的身份来通过 RSS 种子阅读你的活动以及问题列表信息。
      如果令牌泄露，你应该
      = link_to '重置令牌', [:reset, :feed_token, :profile], method: :put, data: { confirm: '你确定要重置 RSS 令牌么？所有当前使用该令牌的 RSS 链接都将失效。' }
      if that ever happens.

- if incoming_email_token_enabled?
  %hr
  .row.prepend-top-default
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0
        进入邮件令牌
      %p
        当你使用电子邮件创建新的问题的时候，将使用进入电子邮件令牌进行验证，该令牌包含在你的个人的项目相关的电子邮件地址中。
      %p
        该令牌无法用于访问其它数据。
    .col-lg-8.incoming-email-token-reset
      = label_tag :incoming_email_token, '进入电子邮件令牌', class: "label-light"
      = text_field_tag :incoming_email_token, current_user.incoming_email_token, class: 'form-control', readonly: true, onclick: 'this.select()'
      %p.form-text.text-muted
        请确保该令牌的安全。任何持有该令牌的人，都可以以你的身份来创建问题。
        如果令牌泄露，你应该
        = link_to '重置令牌', [:reset, :incoming_email_token, :profile], method: :put, data: { confirm: '你确定要重置进入电子邮件令牌么？所以使用当前令牌的电子邮件地址都将停止工作。' }
        。
